<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>902977101853-s7m6illn73jkrktuio6rt4fij5ttoq0j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.902977101853-s7m6illn73jkrktuio6rt4fij5ttoq0j</string>
	<key>API_KEY</key>
	<string>AIzaSyD2ylg_AgMKG2gOKbhCbpE6OGcFsHUNJ4g</string>
	<key>GCM_SENDER_ID</key>
	<string>902977101853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alfmuna.Jangan-Di-Buang</string>
	<key>PROJECT_ID</key>
	<string>jangandibuang-b031c</string>
	<key>STORAGE_BUCKET</key>
	<string>jangandibuang-b031c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902977101853:ios:4428eedcf1a2f48f80a6f4</string>
	<key>DATABASE_URL</key>
	<string>https://jangandibuang-b031c.firebaseio.com</string>
</dict>
</plist>